$enable-caret:                false;
$enable-rounded:              true;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-container-classes:    true;
$enable-cssgrid:              false;
$enable-button-pointers:      true;
$enable-rfs:                  false;
$enable-negative-margins:     false;
$enable-validation-icons:     false;
$enable-deprecation-messages: false;
$enable-important-utilities:  false;

$variable-prefix: ld-;
$link-decoration: none;

$primary:         #191C1F;
$secondary:       #EF7051;
$brand:           #00475B;
$brand-darker:    #002D42;
$light:           #F7F7F7;
$light-100:       #E5E5E5;
$light-color:     #f1f1ff;
$success:         #2DB071;
$nav-link-color:  #2C2C2C;
$body-color:      #404040;
$body-color-dark: #F5F5F5;
$gray-600:        #808080; 
$gray-250:        #BFBFBF; 
$dark:            $secondary;

$gradient: linear-gradient(315deg, var(--ld-primary) 0%, var(--ld-secondary) 100%);

$theme-colors: (
  'primary':      $primary,
  'secondary':    $secondary,
  'brand':        $brand,
  'brand-darker': $brand-darker,
  'gray':         $gray-600,
  'light':        $light,
  'light-100':    $light-100,
  'dark':         $dark,
  'white':      #fff,
);

$headings-color: var(--ld-brand);
$headings-color-dark: $primary;

$text-shadow-black: 1px 2px 2px rgba(#000, .2);
$text-shadow-white: 1px 2px 2px rgba(#fff, .2);

$nav-link-color:       $nav-link-color;
$nav-link-hover-color: var(--ld-secondary);
$btn-font-weight:      400;
$headings-font-weight: 700;
$nav-link-font-weight: 400;

$navbar-padding-x: 0;
$navbar-padding-y: 0;
$dropdown-border-radius: 0;

$spacer: 1rem;
$border-radius-lg: $spacer * .65;

$btn-padding-y: calc($spacer / 1.5);
$btn-padding-x: $spacer * 1.75;

$font-family-sans-serif: 'Gomme Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:     1rem;
$font-weight-normal: 400;
$font-weight-base:   $font-weight-normal;
$headings-line-height: 1.25;

$navbar-toggler-font-size: $font-size-base;

$h1-font-size: $font-size-base * 2.8125;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1.125;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
);

$grays: ();
$colors: ();
$theme-colors-text: ();
$theme-colors-bg-subtle: ();
$theme-colors-rgb: ();
$theme-colors-border-subtle: ();

$grays-dark: ();
$colors-dark: ();
$theme-colors-text-dark: ();
$theme-colors-bg-subtle-dark: ();
$theme-colors-rgb-dark: ();
$theme-colors-border-subtle-dark: ();

// Navbar
$navbar-brand-height: auto;
$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;

$nav-link-padding-x: calc($spacer / 1.25);
$nav-link-padding-y: calc($spacer / 2);